!!!5

%html
  %head
    %title
      != "{Title}"
    %link{:rel => "shortcut icon", :href => "{Favicon}"}
    %link{:rel => "alternate", :type => "application/rss+xml", :href => "{RSS}"}
    != "{block:Description}"
    %meta{:name => "description", :content => "{MetaDescription}"}
    != "{/block:Description}"
  %body
    %h1
      != "{Title}"
    
    != "{block:Description}"
    %p{:id => "description"}
      != "{Description}"
    != "{/block:Description}"

    %div#posts.container
      != "{block:Posts}"
      
      != "{block:Text}"
      %div{:class => ["post", "text"]}
        != "{block:Title}"
        %h3
          %a{:href => "{Permalink}"}
            != "{Title}"
        != "{/block:Title}"
        != "{Body}"
      != "{/block:Text}"
      

      != "{block:Photo}"
      %div{:class => ["post", "photoset"]}
        %img{:src => "{PhotoURL-500}", :alt => "{PhotoAlt}"}
        != "{block:Caption}"
        .caption
          != "{Caption}"
        != "{/block:Caption}"
      != "{/block:Photo}"


      != "{block:Photoset}"
      %div{:class => ["post", "photoset"]}
        != "{Photoset-500}"
        != "{block:Caption}"
        .caption
          != "{Caption}"
        != "{/block:Caption}"
      != "{/block:Photoset}"


      != "{block:Quote}"
      %div{:class => ["post", "quote"]}
        "
        != "{Quote}"
        "
        != "{block:Source}"
        .source
          != "{Source}"
        != "{/block:Source}"
      != "{/block:Quote}"

      != "{block:Link}"
      %div{:class => ["post","link"]}
        %a{:href => "{URL}", :class => "link", :target => "{Target}"}
          != "{Name}"
        != "{block:Description}"
        .description
          != "{Description}"
        != "{/block:Description}"
      != "{/block:Link}"  
       
      != "{block:Chat}"     
      %div{:class => ["post", "chat"]}        
        != "{block:Title}"
        %h3
          %a{:href => "{Permalink}", :alt => "Permalink" }
            != "{Title}"

        %ul{:class => "chat"}

          != "{block:Lines}"
          %li{:class => ["{Alt}", "user_{UserNumber}"]}
            != "{block:Label}"
            %span{:class => "label"}
              != "{Label}"
            != "{/block:Label}"
            != "{Line}" 
        != "{/block:Lines}}"
      != "{/block:Chat}}"

      != "{block:Video}"
      %div{:class => ["post", "audio"]}
        != "{Video-500}"
        != "{block:Caption}"
        .caption
          != "{Caption}"
        != "{/block:Caption}"
      != "{/block:Vieo}"

      != "{block:Audio}"
      %div{:class => ["post","audio"]}
        != "{AudioPlayerBlack}"
        != "{block:Caption}"
        .caption
          != "{Caption}"
        != "{/block:Caption}"
      != "{/block:Audio}"



    != "{/block:Posts}"

    %p{:id => "footer"}
      != "{block:PreviousPage}"
      %a{:href => "{PreviousPage}", :alt => "PreviousPage" }
        ="&#171; Previous"
      != "{/block:PreviousPage}"

      != "{block:NextPage}"
      %a{:href => "{NextPage}", :alt => "NextPage" }
        = "Next &#187;"
      != "{/block:NextPage}"
